<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Ru-Commerce</h2>
  <p>
    The Ru-Commerce website is a delightful project created By Ember.
    By building a Product explorer site with Promotions and Departments.
  </p>
</div>
